body {
    font-family: Arial;
    font-size: 15px;
    overflow-x: hidden;
    background: linear-gradient(rgba(0, 0, 255, 0.638), rgba(255, 255, 255, 0.522));
    overflow-x: hidden;
}
.welcome-container {
    text-align: center;
}
h2 {
    color: black;
    opacity: 0.5;
    -webkit-transition: width ease 1s, opacity ease 0.5s;
    -moz-transition: width ease 2.5s, opacity ease 0.5s;
    -webkit-border-radius: 40px;
    -moz-border-radius: 32px;
}

h2:hover {
    opacity: 1;
}
.end-msg {
    -webkit-transition: width ease 1s, opacity ease 0.5s;
    -moz-transition: width ease 2.5s, opacity ease 0.5s;
    -webkit-border-radius: 40px;
    -moz-border-radius: 30px;
    text-shadow: 0px 0px 10px #000;
}
.end-msg:hover {
    color: blue;
}
.downlaod-btn {
    opacity: 0.7;
    border-width: 0px;
    background: rgba(158, 176, 209, 0.856);
    font-size: 20px;
    width: 700px;
    height: 100px;
    text-shadow: 0px 0px 10px #000;
    -webkit-transition: width ease 1s, opacity ease 0.5s;
    -moz-transition: width ease 2.5s, opacity ease 0.5s;
    -webkit-border-radius: 40px;
    -moz-border-radius: 30px;
}
.downlaod-btn:hover {
    opacity: 1;
    width: 790px;
}